.profile {
    width: 500px;
    min-height: 555px;
    border: 2px solid rgba(128, 128, 128, 0.19);
    border-radius: 5px;
    position: relative;
}

.profile__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.profile__title {
    text-align: center;
}

.profile__link {
    display: block;
    margin: 5px;
    padding: 5px;
}

.profile__info {
    padding: 20px;
}

.profile__list {
    list-style: none;
    font-size: 16px;
}

.profile__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile__list-item:last-child {
    margin-bottom: 0;
}

.profile__list-subtitle {
    font-weight: 500;
    font-size: 12px;
}

.profile__list-data {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.profile__btn_edit {
    background-color: rgba(255, 207, 0, 1);
}

.btn {
    padding: 5px 20px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.19);
    border-radius: 3px;
    transition: opacity .2s;
}

.btn:hover {
    opacity: .7;
}

.btn:focus {
    outline: 0;
}

.profile .form__field {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.profile .form__field:last-child {
    display: block;
    margin-bottom: 0;
}

.profile .form__submit {
    margin-top: 20px;
    width: auto;
    padding: 5px 20px;
}

.profile .form__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile .form .form__label{
    font-weight: 500;
}

.profile .profile-undefined {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
